*{
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  font-family: cursive;
  color: #344e41;
}

body{
  background-color: #a3b18a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-choice{
  margin-top: 1.2rem;
  margin-bottom: 3.5rem;
}


img,.choice{
  width: 20vw;
  height: 20vw;
  border-radius: 10vw;
  border: none;
  object-fit: cover;
}

.choice:hover{
  opacity: 0.5;
  cursor:pointer;
}

.score-board{
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

.comp-score,.user-score{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win{
  margin-top: 1.2rem;
  font-size: 1.5rem;
  visibility: hidden;
}